modules = ["nodejs-20", "bash", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33399
externalPort = 5173

[[ports]]
localPort = 35181
externalPort = 6800

[[ports]]
localPort = 35335
externalPort = 8000

[[ports]]
localPort = 36507
externalPort = 8080

[[ports]]
localPort = 37799
externalPort = 8081

[[ports]]
localPort = 39275
externalPort = 3001

[[ports]]
localPort = 39637
externalPort = 5000

[[ports]]
localPort = 39967
externalPort = 3002

[[ports]]
localPort = 41665
externalPort = 3000

[[ports]]
localPort = 43679
externalPort = 8008

[[ports]]
localPort = 45327
externalPort = 6000

[[ports]]
localPort = 45617
externalPort = 4200

[[ports]]
localPort = 46601
externalPort = 3003

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BAZu3RZPYS_xwP-VaSjvbUmK_Glyftw1CuJAOR7FqrIo7l9VaGGIqiqr-JI9Pc_iuDvsVvqpOIENOOhfrptOfbs"
VAPID_PRIVATE_KEY = "wdoy3LIYtuyDU7L5rhMm_9QZi7_DUd04XWSDJanEa3M"
VAPID_CONTACT_EMAIL = "mailto:planning@brandweerzonekempen.be"
